@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #14181C;
}

.text-branco {
    color: #fff;
}

.text-vermelho {
    color: #f51841;
}

.text-cor-site {
    color: #45515f;
}

.back_branco {
    background-color: #fff;
}

.botao_site {
    background-color: #45515f;
    color: #fff;
}

.botao_site:hover {
    background-color: #21282e;
    color: #fff;
}

.texto-traco {
    width: 100%;
    height: 2px;
    background-color: #14181C;
}

.texto-traco-2 {
    width: 100%;
    height: 1px;
    background-color: #14181c50;
}


.navbar .nav-link,
.navbar .nav-link.active {
    color: #fff;
}

.navbar .nav-link.active {
    background-color: #f51841;
}

.navbar .nav-link {
    text-align: center;
}

.navbar .nav-item:hover {
    background-color: #2d3641;
    border-radius: 5px;
    transition: 0.3s;
}

#novidades .novidades-links {
    text-decoration: none;
    color: #45515f;
}

#novidades .novidades-links:hover {
    color: #21282e;
}

#contato #mensagem {
    resize: none;
}

#contato input,
#contato textarea {
    margin-bottom: 15px;
    border-color: rgba(69, 81, 95, 0.669);
}

#contato label {
    font-weight: 600;
    color: #45515f;
    margin: 0;
}

.redes-sociais-links ul li {
    display: inline;
}

.redes-sociais-links ul li a {
    text-decoration: none;
}

footer {
    background-color: #14181C;
    color: #fff;
}